<div class="container">
<div class="alert alert-dark col-5 d-flex" role="alert">
    <strong>作品一覧</strong>
</div>
</div>
<div class="right col-3" >
 <%= link_to " + ", new_admin_musical_path, class: "btn btn-light" %>
</div>

<div class="row">
 <div class="col-md-10 offset-md-2">
    <table class="table">
          <thead class="thead-light">
            　<tr>
            　  <th></th>
            　  <th>作品名</th>
            　  <th>あらすじ</th>
            　</tr>
            　<% @musicals.each do |musical| %>
              <tr>
               <td><%= attachment_image_tag musical, :image, :fill, 50, 50, format: 'jpeg' %></td>
               <td><%= link_to musical.title, admin_musical_path(musical.id) %></td>
               <td><%= musical.introduction %></td>
              </tr>
              <% end %>
          </thead>
        </table>
   </div>
  </div>
