<div class="background">
  <div class="filter"> <!-- 暗い色のフィルター -->
    <div class="content">
      <br><br>
      <h1 style="color:aliceblue">musical-like</h1>
      <br><br>
        <p style="color:aliceblue">皆さん、ミュージカルはお好きですか？</p>
        <p style="color:aliceblue">ミュージカルを観たことがない方、生粋のミュージカル付きの方</p>
        <p style="color:aliceblue">皆様に楽しんでいただけるサイトです。</p>
        <p style="color:aliceblue">皆様で、レビューを共有したり新たなミュージカルと出会う場です。</p>
    </div>
  </div>
</div>